body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul {
    margin: 0;
    padding: 0
}

body{
    background-color: pink;
}

/* header css */
.header{
    display: block;
}

img{
    height: auto;
    width: 100%;
}

/* counter css */
.counter{
    width: 90%;
    height: 100px;
    margin-right: auto; 
    margin-left: auto;
}

.countdown{
    border: 1px solid grey;
}

.countdown-row{
    clear: both;
    width: 100%;
    height: auto;
    text-align: center;
}

.countdown5 .countdown-section{
    width: 20%;
}

.countdown-section{
    display: block;
    float: left;
    font-size: 150%;
    text-align: center;
}

.countdown-amount {
    font-size: 200%;
}

.countdown-period {
    display: block;
    font-size: 75%;
}

/* heart css */

#d {
    display: block;
    margin: 0 auto;
}

body {
    overflow: hidden;
}

.heart-body {
    width: 500px;
    margin: 100px auto;
    position: relative;
}

.snowfall-flakes:before,
.snowfall-flakes:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 10px;
    height: 16px;
    background: red;
    border-radius: 10px 10px 0 0;
}

.snowfall-flakes:before {
    -webkit-transform: rotate(-45deg);
    /* Safari 和 Chrome */
    -moz-transform: rotate(-45deg);
    /* Firefox */
    -ms-transform: rotate(-45deg);
    /* IE 9 */
    -o-transform: rotate(-45deg);
    /* Opera */
    transform: rotate(-45deg);
}

.snowfall-flakes:after {
    left: 4px;
    -webkit-transform: rotate(45deg);
    /* Safari 和 Chrome */
    -moz-transform: rotate(45deg);
    /* Firefox */
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -o-transform: rotate(45deg);
    /* Opera */
    transform: rotate(45deg);
}


/*  
.heart{
    width: 100px;
    height: 100px;
    background: red;
    margin:100px auto 0;
    position: relative;
    transform: rotate(-45deg);
    animation: putongputong 2s infinite;
}
.heart:after{
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: -50px;
    left: 0;
}
.heart:before{
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
    position: absolute;
    right: -50px;
    top: 0;
}

@keyframes putongputong{
    0%{
        transform: rotate(-45deg) scale(0.8);
    }
    50%{
        transform: rotate(-45deg) scale(1.1);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);
    }
}
*/