body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul {
    margin: 0;
    padding: 0
}

body{
}

/* header css */
.header{
    display: block;
}

img{
    height: auto;
    width: 100%;
}

/* counter css */
.counter{
    width: 90%;
    height: 100px;
    margin-right: auto; 
    margin-left: auto;
}

.countdown{
    border: 1px solid grey;
}

.countdown-row{
    clear: both;
    width: 100%;
    height: auto;
    text-align: center;
}

.countdown5 .countdown-section{
    width: 20%;
}

.countdown-section{
    display: block;
    float: left;
    font-size: 150%;
    text-align: center;
}

.countdown-amount {
    font-size: 200%;
}

.countdown-period {
    display: block;
    font-size: 75%;
}

/* heart css */

#d {
    display: block;
    margin: 0 auto;
}

#c {
    top: 0px;
    left: 0px;
    position: absolute;
}

/*  
.heart{
    width: 100px;
    height: 100px;
    background: red;
    margin:100px auto 0;
    position: relative;
    transform: rotate(-45deg);
    animation: putongputong 2s infinite;
}
.heart:after{
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: -50px;
    left: 0;
}
.heart:before{
    display: block;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
    position: absolute;
    right: -50px;
    top: 0;
}

@keyframes putongputong{
    0%{
        transform: rotate(-45deg) scale(0.8);
    }
    50%{
        transform: rotate(-45deg) scale(1.1);
    }
    100%{
        transform: rotate(-45deg) scale(0.8);
    }
}
*/